@{
    ViewBag.Title = "Index";
}
  
<div id="tabstrip">
    <ul>
        <li class="k-state-active">Posts</li>
        <li>Categories</li>
        <li>Tags</li>
    </ul>
</div>

@section scripts {
	<script src="~/Scripts/pages/admin.js"></script>
}